.chart-main-div{
  background-color: white;
  height: 525px;
  width: 717px;
  border-radius: 10px;
  padding: 0 15px;
  border: 1px solid #EBF0F5;
  box-sizing: border-box;
}
.chart-main-header-div{
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 35px 10px 10px 10px;
  justify-content: space-between;
}

.chart-main-header-div-left{
  max-width: 432px;
}
.chart-main-header-div-left h4{
  font-size: 16px;
  font-weight: bold;
  color: #1E272E;
}
.chart-main-header-div p{
  font-size: 14px;
  margin-top: 24px;
  color: #566474;
}

.chart-main-right-chart{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #EBF0F5;
  line-height: 45px;
  text-align: center;
  background-color: #F7F8FA;
  margin-top: -20px;
}
.chart-main-right-chart-icons{
  font-size: 22px;
}


.chart-btm-chart-main{
  border: 1px solid #F7F8FA;
  border-radius: 10px;
  padding-top: 10px;
}